<nav
  class="bg-gradient-to-r from-gray-900 to-gray-800 text-white overflow-hidden shadow-2xl fixed w-full z-50 top-0 shadow-primary/35 px-8 "
>
  <div class="max-w-8xl mx-auto px-4">
    <div class="flex justify-between h-16">
      <!-- Logo -->
      <div class="flex-shrink-0 flex items-center">
        <a
          routerLink="/"
          class="text-2xl font-bold hover:text-blue-700 transition duration-300 flex items-center gap-1"
        >
          <img
            src="/assets/icons/logo_white.png"
            alt=""
            class="w-[120px] h-auto font-bold"
          />
        </a>
      </div>

      @if (isLoading()) {
      <div class="flex items-center h-16">
        <div class="w-1/3 h-6 bg-gray-700 rounded-lg"></div>
        <div class="w-1/3 mx-2 h-6 bg-gray-700 rounded-lg"></div>
        <div class="w-1/3 h-6 bg-gray-700 rounded-lg"></div>
      </div>

      } @else {

      <div class="w-[300px] z-50 fixed left-64 h-[30px]">
        <p-select
          [options]="dropDownProjects()"
          (onChange)="onProjectChange($event)"
          [placeholder]="selectedProject()?.name || 'Select Project'"
          [editable]="false"
          optionLabel="name"
          styleClass=" w-full input"
        />
      </div>
      }

      <!-- Bouton de connexion (visible sur desktop) -->
      <div class="hidden md:flex items-center relative z-50">
        @if (user()) {
        <div class="relative">
          <!-- Avatar -->
          <button (click)="toggleDropdown()" class="flex items-center">
            <img
              [src]="user()!.photoURL"
              alt="Avatar"
              class="w-10 h-10 rounded-full cursor-pointer"
            />
          </button>

          <!-- Dropdown Menu -->
          @if (isDropdownOpen()) {
          <div
            class="fixed right-0 mt-2 w-48 bg-gradient-to-r from-gray-900 to-gray-800 border border-gray-200 rounded-lg shadow-lg flex flex-col z-50 mr-[38px] p-2 [&_.child]:cursor-pointer"
          >
            <a
              routerLink="/profile"
              (click)="navigateTo('/profile')"
              class="dropdown-item p-3 hover:bg-primary rounded-2xl cursor-pointer"
              >Profil</a
            >
            <a
              routerLink="settings"
              (click)="navigateTo('settings')"
              class="dropdown-item p-3 hover:bg-primary rounded-2xl cursor-pointer"
              >Settings</a
            >
            <a
              (click)="logout()"
              class="dropdown-item border-t p-3 hover:bg-primary cursor-pointer"
              >Logout</a
            >
          </div>
          }
        </div>
        } @else {
        <div>
          <div
            class="w-[50px] h-[50px] rounded-full h-10 bg-gray-300 animate-pulse"
          ></div>
        </div>
        }
      </div>

      <!-- Menu mobile (visible sur mobile) -->
      <div class="flex items-center md:hidden">
        <button
          (click)="toggleMenu()"
          class="inline-flex items-center justify-center p-2 rounded-md hover:text-primary focus:outline-none transition duration-300"
        >
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Menu mobile (ouvert/fermé) -->
  @if (isMenuOpen()) {
  <div
    class="md:hidden shadow-xl bg-gradient-to-t from-gray-800 to-gray-700"
    #menu
    [@slideInOut]="isMenuOpen() ? 'open' : 'closed'"
  >
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a
        routerLink="/home"
        (click)="toggleMenu()"
        routerLinkActive="text-primary bg-blue-50"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-200 hover:text-primary hover:bg-blue-50 transition duration-300"
      >
        Accueil
      </a>
      <a
        routerLink="/project/create"
        (click)="toggleMenu()"
        routerLinkActive="text-primary bg-blue-50"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-200 hover:text-primary hover:bg-blue-50 transition duration-300"
      >
        Projets
      </a>
      <a
        routerLink="/analysis"
        (click)="toggleMenu()"
        routerLinkActive="text-primary bg-blue-50"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-200 hover:text-primary hover:bg-blue-50 transition duration-300"
      >
        Analyse
      </a>
      <a
        routerLink="/profile"
        (click)="toggleMenu()"
        routerLinkActive="text-primary bg-blue-50"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-200 hover:text-primary hover:bg-blue-50 transition duration-300"
      >
        Profil
      </a>
      <a
        routerLink="/login"
        (click)="toggleMenu()"
        class="block outer-button rounded-md transition duration-300"
      >
        Connexion
      </a>
    </div>
  </div>
  }
</nav>
<div class="p-4 pt-[80px] h-screen fixed bg-gray-950 w-[260px] border-r-1 border-gray-800">
  <p-panelMenu [model]="items()" [style]="{ width: '100%' }"></p-panelMenu>
</div>
