<p>
  <markdown
    katex
    class="variable-binding"
    [data]="project.analysisResultModel.branding.logo.svg"
  ></markdown>
  <markdown
    html
    class="variable-binding"
    [data]="project.analysisResultModel.branding.brandDefinition.content"
  ></markdown>
  <markdown
    html
    class="variable-binding"
    [data]="project.analysisResultModel.branding.colorSystem.content"
  ></markdown>

  <markdown
    html
    class="variable-binding"
    [data]="project.analysisResultModel.branding.iconographyAndImagery.content"
  ></markdown>

  <markdown
    html
    class="variable-binding"
    [data]="project.analysisResultModel.branding.layoutAndComposition.content"
  ></markdown>

  <markdown
    html
    class="variable-binding"
    [data]="project.analysisResultModel.branding.toneOfVoice.content"
  ></markdown>

  <markdown
    html
    class="variable-binding"
    [data]="project.analysisResultModel.branding.typographySystem.content"
  ></markdown>

  <markdown
    html
    class="variable-binding"
    [data]="
      project.analysisResultModel.branding.visualIdentityGuidelines.content
    "
  ></markdown>
</p>
