@if(isBrandingLoaded()){
<div class="w-full h-screen flex flex-col items-center justify-center">
  <app-loader />
</div>
}@else {
<div class="p-14">
  <div class="w-full flex justify-end p-4">
    <button class="inner-button" (click)="makePdf()">
      <i class="pi pi-file-export"></i>
      Export
    </button>
  </div>
  @if (branding) {
  <div [innerHTML]="branding.logo.content.svg | safeHtml"></div>
  @for (brand of branding.brandIdentity; track brand.id) {
  <div [innerHTML]="brand.data | safeHtml"></div>
  } }@else {
  <div class="w-full h-screen flex flex-col items-center justify-center">
    <button class="inner-button" (click)="generateBranding()">
      <i class="pi pi-file-export"></i>
      Generate
    </button>
  </div>
  }
</div>
}
