@if (isBrandingLoaded() ==true && isDesignLoaded() == true && isPlanningLoaded()
== true) {
<div class="w-full h-screen flex items-center justify-center">
  <app-loader />
</div>
} @else {
<div class="relative flex">
  <div class="w-full p-[3%]">
    <div class="card">
      <p-tabs value="0">
        <p-tablist>
          <p-tab value="0"> Planning</p-tab>
          <p-tab value="1">Branding</p-tab>
          <p-tab value="2">Design</p-tab>
          <p-tab value="3" disabled>Development</p-tab>
          <p-tab disabled>Landing Page</p-tab>
          <p-tab disabled>Tests</p-tab>
        </p-tablist>
        <div class="w-full">
          <p-tabpanels class="w-full">
            <p-tabpanel value="0">
              
            </p-tabpanel>
            <p-tabpanel value="1">
              
            </p-tabpanel>
            <div >
              <markdown
              mermaid
              [data]="project.analysisResultModel.design[0].code"
            ></markdown>
            </div>
            <p-tabpanel value="2">
              
            </p-tabpanel>
          </p-tabpanels>
        </div>
      </p-tabs>
    </div>
  </div>
</div>
}
