<div
  class="min-h-screen bg-gray-950 text-white flex flex-col mt-[65px] sm:mt-0"
>
  <!-- HEADER -->

  <!-- MAIN CONTENT -->
  <div class="flex-1 flex p-[4%]">
    <!-- MAIN SECTION -->
    <main class="flex-1 p-6 space-y-10 overflow-y-auto">
      <!-- Projets récents -->
      <section class="space-y-4">
        <div class="flex items-center justify-between">
          <h2 class="text-2xl font-semibold text-primary-500">
            Recent Projects
          </h2>
        </div>

        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
        >
          <!-- Créer un projet -->
          <a
            routerLink="/project/create"
            class="h-[180px] flex flex-col justify-center items-center text-center border-2 border-dashed border-secondary-500/50 rounded-xl bg-gray-800/50 hover:bg-gray-800 hover:shadow-[0_0_20px_-5px_var(--color-primary)] hover:scale-[1.02] transition p-4 hover:cursor-pointer group"
          >
            <div
              class="w-12 h-12 mb-3 bg-secondary-500/10 rounded-full flex items-center justify-center group-hover:bg-secondary-500/20 transition"
            >
              <i class="lucide lucide-plus text-secondary-500 text-2xl"></i>
            </div>
            <div class="font-bold">Create a new project</div>
            <div class="text-sm text-gray-400 group-hover:text-white">
              Start a new project
            </div>
          </a>

          <!-- Cartes projets récents -->
          @for (project of recentProjects(); track $index) {
          <app-project-card [project]="project" />
          }
        </div>
      </section>

      <!-- Tous les projets -->
      <section class="space-y-4">
        <div class="flex items-center justify-between">
          <h2 class="text-2xl font-semibold text-primary-500">
            Tous les projets
          </h2>
          <div class="flex gap-2"></div>
        </div>

        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
          @for (project of userProjects$ | async; track $index) {
          <app-project-card [project]="project" />

          }
        </div>

        @if (isLoading()) {
        <div class="flex justify-center items-center h-64">
          <app-loader />
        </div>
        } @else { @if ((userProjects$ | async)?.length === 0) {
        <div
          class="text-center py-16 border-2 border-dashed border-gray-800 rounded-xl"
        >
          <i class="lucide lucide-folder-x text-4xl text-gray-600 mb-3"></i>
          <div class="text-gray-400">Aucun projet disponible</div>
          <a
            routerLink="/create-project"
            class="text-primary-500 hover:underline mt-2 inline-block"
            >Créer un projet</a
          >
        </div>
        } }
      </section>
    </main>

    <!-- RIGHT SIDEBAR -->
    <aside
      class="w-16 p-2 flex-col items-center fixed right-0 gap-4 bg-gray-900 border-l border-gray-800 top-16 h-[calc(100vh-4rem)] hidden md:flex"
    >
      <button
        class="hover:bg-gray-800 p-2 rounded-full transition relative"
        aria-label="Chat"
      >
        <i class="lucide lucide-message-circle text-xl text-white"></i>
        <span
          class="absolute top-0 right-0 w-2 h-2 bg-primary-500 rounded-full"
        ></span>
      </button>
      <button
        class="hover:bg-gray-800 p-2 rounded-full transition"
        aria-label="Aide"
      >
        <i class="lucide lucide-help-circle text-xl text-white"></i>
      </button>

      <div class="w-8 h-px bg-gray-700 my-2"></div>

      <button
        class="hover:bg-gray-800 p-2 rounded-full transition"
        aria-label="Paramètres"
      >
        <i class="lucide lucide-settings text-xl text-white"></i>
      </button>

      <button
        class="hover:bg-gray-800 p-2 rounded-full transition mt-auto"
        aria-label="Thème"
      >
        <i class="lucide lucide-moon text-xl text-white"></i>
      </button>
    </aside>
  </div>
</div>
