<footer
  class="bg-gray-500 bg-gradient-to-t from-gray-800 to-gray-900 text-white py-12"
>
  <div class="container mx-auto px-6">
    <!-- Responsive Grid -->
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-8">
      <!-- Section 1: Logo and Description -->
      <div class="mb-8 md:mb-0">
        <a href="#" class="text-2xl font-bold text-white">Idem</a>
        <p class="mt-4 text-gray-200">
          Automated design and configuration of software architectures.
        </p>
      </div>

      <!-- Section 2: Quick Links -->
      <div class="mb-8 md:mb-0">
        <h3 class="text-lg font-semibold text-white mb-4">Quick Links</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="#"
              class="text-gray-200 hover:text-white transition duration-300"
              >Home</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-gray-200 hover:text-white transition duration-300"
              >Features</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-gray-200 hover:text-white transition duration-300"
              >Pricing</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-gray-200 hover:text-white transition duration-300"
              >Contact</a
            >
          </li>
        </ul>
      </div>

      <!-- Section 3: Social Media -->
      <div class="mb-8 md:mb-0">
        <h3 class="text-lg font-semibold text-white mb-4">Follow Us</h3>
        <div class="flex space-x-4">
          <a
            href="#"
            class="text-gray-200 hover:text-white transition duration-300"
          >
            <i class="pi pi-github mr-2 text-6xl" style="font-size: 2rem"></i>
          </a>
          <a
            href="#"
            class="text-gray-200 hover:text-white transition duration-300"
          >
            <i class="pi pi-linkedin mr-2 text-6xl" style="font-size: 2rem"></i>
          </a>
          <a
            href="#"
            class="text-gray-200 hover:text-white transition duration-300"
          >
            <i class="pi pi-twitter mr-2 text-6xl" style="font-size: 2rem"></i>
          </a>
        </div>
      </div>

      <!-- Section 4: Newsletter -->
      <div>
        <h3 class="text-lg font-semibold text-white mb-4">Newsletter</h3>
        <p class="text-gray-200 mb-4">
          Subscribe to receive the latest updates.
        </p>
        <form class="flex">
          <input
            type="email"
            placeholder="Your email"
            class="w-full border-gray-400 border-1 p-2 rounded-l-md text-gray-900 focus:outline-none"
          />
          <button
            type="submit"
            class="bg-primary border-gray-400 border-1 text-white px-4 py-2 rounded-r-md hover:bg-opacity-90 transition duration-300"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>

    <!-- Copyright Section -->
    <div class="border-t border-gray-700 mt-8 pt-8 text-center">
      <p class="text-gray-200">&copy; 2025 Idem. All rights reserved.</p>
    </div>
  </div>
</footer>
