<div
  class="bg-gray-800 hover:cursor-pointer rounded-xl p-5 border border-gray-700 hover:border-primary-500 transition hover:shadow-xl hover:scale-[1.01] duration-300 relative group"
  (click)="cardClick(project()?.id!)"
>
  <div class="flex items-center justify-between mb-2">
    <h3 class="text-lg font-bold truncate pr-6">{{ project()?.name }}</h3>
  </div>

  <p class="text-sm text-gray-400 mb-4 line-clamp-3">
    {{ project()?.description }}
  </p>

  <div class="flex flex-wrap gap-2 text-xs mb-3">
    <span
      class="bg-secondary-500/20 text-secondary-500 px-2 py-1 rounded font-medium"
    >
      {{ project()?.type }}
    </span>
    <span class="bg-gray-700 px-2 py-1 rounded text-gray-300"
      >👥 {{ project()?.teamSize }}</span
    >
    <span class="bg-gray-700 px-2 py-1 rounded text-gray-300"
      >🎯 {{ project()?.targets }}</span
    >
  </div>

  <div class="flex justify-between items-center mt-4 text-xs text-gray-500">
    <span>{{ project()?.createdAt | date : "shortDate" }}</span>
    <button
      class="opacity-0 group-hover:opacity-100 transition text-primary-500 hover:text-primary-400"
    >
      Ouvrir <i class="lucide lucide-arrow-right ml-1"></i>
    </button>
  </div>
</div>
