<div class="flex flex-col md:flex-row gap-4 justify-between md:h-[95vh]">
  <div class="w-full md:w-[50%] flex items-center justify-center">
    <img src="/assets/images/home/person-computer.svg" alt="" />
  </div>
  <div
    class="w-full md:w-[50%] bg-white shadow-md flex flex-col items-center justify-center"
  >
    <!-- Titre de la page -->
    <h1 class="text-3xl font-bold text-center text-primary mb-8">
      Parlez nous de votre projet
    </h1>

    <!-- Formulaire de création de projet -->
    <div class="max-w-3xl mx-auto p-6 w-full">
      <h2 class="text-xl font-semibold text-gray-800 mb-4">
        Détails du Projet
      </h2>

      <!-- Champ : Description du projet -->
      <div class="mb-4">
        <label
          for="projectDescription"
          class="block text-sm font-medium text-gray-700"
        >
          Description du Projet
        </label>
        <textarea
          id="projectDescription"
          [(ngModel)]="project.description"
          rows="4"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm"
          placeholder="Décrivez votre projet"
        ></textarea>
      </div>

      <!-- Champ : Type de projet -->
      <div class="mb-4">
        <label
          for="projectType"
          class="block text-sm font-medium text-gray-700"
        >
          Type de Projet
        </label>
        <select id="projectType" [(ngModel)]="project.type" class="input">
          <option value="web">Application Web</option>
          <option value="mobile">Application Mobile</option>
          <option value="iot">IoT</option>
          <option value="desktop">Application Desktop</option>
        </select>
      </div>

      <h2 class="text-xl font-semibold text-gray-800 mb-4">
        Options de planification
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="mb-4">
          <label for="teamSize" class="block text-sm font-medium text-gray-700">
            Taille de l'Équipe
          </label>
          <select id="teamSize" [(ngModel)]="project.teamSize" class="input">
            <option value="1-5">1 - 5</option>
            <option value="6-10">6 - 10</option>
            <option value="11-20">11 - 20</option>
            <option value="21-50">21 - 50</option>
            <option value="50+">50 et plus</option>
          </select>
        </div>

        <div class="mb-4">
          <label
            for="projectScope"
            class="block text-sm font-medium text-gray-700"
          >
            Portée du Projet
          </label>
          <select id="projectScope" [(ngModel)]="project.scope" class="input">
            @for (scope of scopes; track $index) {
            <option [value]="scope">
              {{ scope }}
            </option>
            }
          </select>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="mb-4">
          <label
            for="projectBudget"
            class="block text-sm font-medium text-gray-700"
          >
            Budget du Projet
          </label>
          <div class="relative mt-1 rounded-md shadow-sm">
            <select
              id="projectBudget"
              [(ngModel)]="project.budgetIntervals"
              class="input"
            >
              <option value="0-1000">0 - 1,000 $</option>
              <option value="1000-5000">1,000 - 5,000 $</option>
              <option value="5000-10000">5,000 - 10,000 $</option>
              <option value="10000-50000">10,000 - 50,000 $</option>
              <option value="50000+">50,000 $ et plus</option>
            </select>
          </div>
        </div>
        <div class="mb-4">
          <label
            for="projectTargets"
            class="block text-sm font-medium text-gray-700"
          >
            Cibles du Projet
          </label>
          <div class="relative mt-1 rounded-md shadow-sm">
            <select
              id="projectTargets"
              [(ngModel)]="project.targets"
              class="input"
            >
              @for (target of targets; track $index) {
              <option [value]="target">
                {{ target }}
              </option>
              }
            </select>
          </div>
        </div>
      </div>

      <!-- Champ : Contraintes techniques -->
      <div class="mb-6">
        <label class="block text-sm font-medium text-gray-700">
          Contraintes Techniques
        </label>
        <div class="mt-2 space-y-2 gap-4">
          @for (constraint of constraints; track $index) {
          <ng-container>
            <label class="inline-flex items-center ml-4">
              <input
                type="checkbox"
                [(ngModel)]="project.constraints[$index]"
                class="form-checkbox h-4 w-4 text-primary"
              />
              <span class="ml-2 text-gray-700">{{ constraint }}</span>
            </label>
          </ng-container>
          }
        </div>

        <!-- Bouton : Analyser le projet -->
        <div class="flex w-full justify-end">
          <button (click)="showDialog()" class="outer-button">
            Analyser le Projet
          </button>
        </div>
      </div>

      <!-- Résultats de l'analyse -->
      @if (showResults) {
      <div class="card flex justify-center">
        <p-dialog
          header="Résultats de l'Analyse"
          [(visible)]="visible"
          [modal]="true"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [style]="{ width: '50vw', backgroundColor: 'white' }"
          [draggable]="false"
          [resizable]="false"
        >
          <div class="max-w-3xl mx-auto bg-white rounded-lg shadow-md">
            <!-- Architecture Basique -->
            <div class="mb-6 p-4 border border-gray-200 rounded-lg">
              <h3 class="text-lg font-medium text-primary mb-2">
                Architecture Basique
              </h3>
              <p class="text-gray-700 mb-2">
                Description : Une architecture simple pour les petits projets.
              </p>
              <p class="text-gray-700 mb-2">
                Technologies : HTML, CSS, JavaScript, Node.js, SQLite.
              </p>
              <button
                (click)="generateScripts('basic')"
                class="hover:bg-primary hover:text-white outer-button"
              >
                Générer les Scripts
              </button>
            </div>

            <!-- Architecture Recommandée -->
            <div class="mb-6 p-4 border border-gray-200 rounded-lg">
              <h3 class="text-lg font-medium text-primary mb-2">
                Architecture Recommandée
              </h3>
              <p class="text-gray-700 mb-2">
                Description : Une architecture équilibrée pour la plupart des
                projets.
              </p>
              <p class="text-gray-700 mb-2">
                Technologies : React, Express.js, MongoDB, Docker.
              </p>
              <button
                (click)="generateScripts('recommended')"
                class="hover:bg-primary hover:text-white outer-button"
              >
                Générer les Scripts
              </button>
            </div>

            <!-- Architecture Complexe -->
            <div class="mb-6 p-4 border border-gray-200 rounded-lg">
              <h3 class="text-lg font-medium text-primary mb-2">
                Architecture Complexe
              </h3>
              <p class="text-gray-700 mb-2">
                Description : Une architecture avancée pour les projets à grande
                échelle.
              </p>
              <p class="text-gray-700 mb-2">
                Technologies : Microservices, Kubernetes, Kafka, PostgreSQL.
              </p>
              <button
                (click)="generateScripts('complex')"
                class="bg-primary inner-button"
              >
                Générer les Scripts
              </button>
            </div>
          </div>
        </p-dialog>
      </div>
      }
    </div>
  </div>
</div>
