<div class="flex flex-col md:flex-row gap-4 justify-between md:h-[95vh]">
  <div class="w-full md:w-[50%] flex items-center justify-center">
    <img src="/assets/images/home/person-computer.svg" alt="" />
  </div>

  <div
    class="w-full md:w-[50%] bg-white shadow-md flex flex-col items-center justify-center"
  >
    <div class="w-full">
      <h1 class="text-3xl font-bold text-center text-primary mb-8">
        Parlez nous de votre projet
      </h1>

      <div class="max-w-3xl mx-auto p-6 w-full">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">
          Détails du Projet
        </h2>

        <div class="mb-4">
          <label
            for="projectDescription"
            class="block text-sm font-medium text-gray-700"
          >
            Description du Projet
          </label>
          <textarea
            id="projectDescription"
            [(ngModel)]="project.description"
            rows="4"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm"
            placeholder="Décrivez votre projet"
          ></textarea>
        </div>

        <!-- Champ : Type de projet -->
        <div class="mb-4">
          <label
            for="projectType"
            class="block text-sm font-medium text-gray-700"
          >
            Type de Projet
          </label>
          <div class="card flex justify-start w-full">
            <p-select
              [options]="groupedProjectTypes"
              [(ngModel)]="project.type"
              placeholder="Selectioner un type"
              [editable]="false"
              optionLabel="name"
              styleClass=" w-full input"
            />
          </div>
        </div>

        <h2 class="text-xl font-semibold text-gray-800 mb-4">
          Options de planification
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="mb-4">
            <label
              for="teamSize"
              class="block text-sm font-medium text-gray-700"
            >
              Taille de l'Équipe
            </label>
            <div class="card flex justify-start w-full">
              <p-select
                [options]="groupedTeamSizes"
                [(ngModel)]="project.teamSize"
                placeholder="Select a City"
                [editable]="true"
                optionLabel="name"
                styleClass=" w-full input"
              />
            </div>
          </div>

          <div class="mb-4">
            <label
              for="projectScope"
              class="block text-sm font-medium text-gray-700"
            >
              Portée du Projet
            </label>

            <div class="card flex justify-start w-full">
              <p-select
                [options]="groupedScopes"
                [(ngModel)]="project.scope"
                placeholder="Choisir une portée"
                [editable]="true"
                optionLabel="name"
                styleClass=" w-full input"
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="mb-4">
            <label
              for="projectBudget"
              class="block text-sm font-medium text-gray-700"
            >
              Budget du Projet
            </label>
            <div class="card flex justify-start w-full">
              <p-select
                [options]="groupedBudgets"
                [(ngModel)]="project.budgetIntervals"
                placeholder="Choisir une budget"
                [editable]="true"
                optionLabel="name"
                styleClass=" w-full input"
              />
            </div>
          </div>
          <div class="mb-4">
            <label
              for="projectTargets"
              class="block text-sm font-medium text-gray-700"
            >
              Cible principale du Projet
            </label>
            <div class="relative mt-1 rounded-md shadow-sm">
              <div class="card flex justify-start w-full">
                <p-select
                  [options]="groupedTargets"
                  [(ngModel)]="project.targets"
                  placeholder="Choisir une cible"
                  [editable]="true"
                  optionLabel="name"
                  styleClass=" w-full input"
                />
              </div>
            </div>
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">
              Contraintes Techniques
            </label>
            <div class="flex justify-start w-full">
              <div class="card flex justify-center w-full">
                <p-multiselect
                  [options]="groupedConstraints"
                  [group]="true"
                  [(ngModel)]="selectedConstraints"
                  placeholder="Choisir des Contraintes"
                  scrollHeight="350px"
                  display="chip"
                  styleClass=" w-full input"
                >
                  <ng-template let-group #group>
                    <div class="flex items-center">
                      <img
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'mr-2 flag flag-' + group.value"
                        style="width: 20px"
                      />
                      <span class="font-bold">{{ group.label }}</span>
                    </div>
                  </ng-template>
                </p-multiselect>
              </div>
            </div>

            <!-- Bouton : Analyser le projet -->
          </div>
        </div>
        <div class="flex w-full justify-end">
          <button (click)="showDialog()" class="outer-button">
            Analyser le Projet
          </button>
        </div>

        @if (showResults) {
        <div class="card flex justify-center">
          <p-dialog
            header="Génération des Artéfacts de Projet"
            [(visible)]="visible"
            [modal]="true"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
            [style]="{ width: '50vw' }"
          >
            @if (isLoaded == true) {
            <div class="w-full flex items-center justify-center h-[400px]">
              <app-loader />
            </div>
            } @else { @if (markdown != '') {
            <markdown class="variable-binding" [data]="markdown"></markdown>
            } @else {
            <div class="max-w-3xl mx-auto p-4">
              <h3 class="text-lg font-medium text-primary mb-4">
                Sélectionnez les phases à générer :
              </h3>

              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                @for (phase of phases; track $index) {
                <div
                  class="p-4 border rounded-lg hover:shadow-lg transition-all cursor-pointer"
                  [class.border-primary]="selectedPhases.includes(phase.id)"
                  (click)="
                    togglePhase(phase.id, !selectedPhases.includes(phase.id))
                  "
                >
                  <div class="flex items-center justify-between">
                    <div class="flex items-center">
                      <p-checkbox
                        [value]="phase.id"
                        [(ngModel)]="selectedPhases"
                        inputId="{{ phase.id }}"
                        styleClass="bg-red h-[200px] accent-pink-500"
                        class="accent-pink-500"
                        (onChange)="onCheckboxChange(phase.id, $event)"
                      ></p-checkbox>
                      <span class="ml-2 font-medium">{{ phase.label }}</span>
                    </div>
                    <span
                      class="text-xs px-2 py-1 rounded-full ml-2"
                      [ngClass]="{
                        'bg-gray-600 font-semibold text-white':
                          phase.tier === 'free',
                        'bg-gray-300 font-medium': phase.tier === 'standard',
                        'bg-gray-100 ': phase.tier === 'premium'
                      }"
                    >
                      {{ phase.tier | uppercase }}
                    </span>
                  </div>

                  <ul class="mt-2 text-sm text-gray-600 pl-6 list-disc">
                    @for (item of phase.subItems; track $index) {
                    <li class="flex items-center">
                      {{ item.label }}
                    </li>
                    }
                  </ul>
                </div>
                }
              </div>

              <div class="flex justify-end mt-6">
                <button
                  label="Générer les Artéfacts"
                  class="inner-button"
                  (click)="generateSelectedPhases()"
                  [disabled]="selectedPhases.length === 0"
                >
                  GENERER LES ARTEFACTS
                </button>
              </div>
            </div>
            } }
          </p-dialog>
        </div>
        }
      </div>
    </div>
  </div>
</div>
