<div class="h-full w-full">
  @if (isLoaded()) {
  <div class="h-screen w-full flex items-center justify-center">
    <app-loader />
  </div>
  } @else { @if (isFirstStep()) {
  <section #projectDescription>
    <app-project-description
      (nextStep)="goToNextStep()"
      [project]="project"
    ></app-project-description>
  </section>
  } @if (isSecondStep()) {
  <section #projectDetails>
    <app-project-details
      (nextStep)="goToNextStep()"
      (previousStep)="goToPreviousStep()"
      (constraintsChange)="onConstraintsChange()"
      [project]="project"
      [groupedProjectTypes]="groupedProjectTypes"
      [groupedTeamSizes]="groupedTeamSizes"
      [groupedScopes]="groupedScopes"
      [groupedBudgets]="groupedBudgets"
      [groupedTargets]="groupedTargets"
      [groupedConstraints]="groupedConstraints"
      [selectedConstraints]="selectedConstraints()"
    ></app-project-details>
  </section>
  } @if (isLogoStep()) {
  <section #logoSelection>
    <app-logo-selection
      (logoSelected)="selectLogo($event)"
      (nextStep)="goToNextStep()"
      (previousStep)="goToPreviousStep()"
      [logos]="logos"
    ></app-logo-selection>
  </section>
  } @if (isColorStep()) {
  <section #colorSelection>
    <app-color-selection
      (colorSelected)="selectColor($event)"
      (nextStep)="goToNextStep()"
      (previousStep)="goToPreviousStep()"
      [colorPalettes]="colorPalettes"
      [selectedColor]="selectedColor"
    ></app-color-selection>
  </section>
  } @if (isTypographyStep()) {
  <section #typographySelection>
    <app-typography-selection
      (typographySelected)="selectTypography($event)"
      (nextStep)="goToNextStep()"
      (previousStep)="goToPreviousStep()"
      [typographyOptions]="typographyOptions"
      [selectedTypography]="selectedTypography"
    ></app-typography-selection>
  </section>
  } @if (isSummaryStep()) {
  <section #summarySelection>
    <app-project-summary
      (createProject)="finalizeProjectCreation()"
      (previousStep)="goToPreviousStep()"
      [project]="project"
      [selectedLogo]="selectedLogo"
      [selectedColor]="selectedColor"
      [selectedTypography]="selectedTypography"
      [logos]="logos"
      [colorPalettes]="colorPalettes"
      [typographyOptions]="typographyOptions"
      [privacyPolicyAccepted]="privacyPolicyAccepted()"
      [marketingConsentAccepted]="marketingConsentAccepted()"
    ></app-project-summary>
  </section>
  } }
</div>
