@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "theme/components/custom_checkbox";
* {
  font-family: "Jura", sans-serif;
}
body {
  background-image: linear-gradient(#e7e7e7b7 2px, transparent 2px),
    linear-gradient(90deg, #e7e7e7b7 2px, transparent 2px),
    linear-gradient(#e7e7e7b7 1px, transparent 1px),
    linear-gradient(90deg, #e7e7e7b7 1px, #ffffff 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
}

@theme {
  --color-primary: #1e1c1c;
  --color-secondary: #2563eb; /* blue 600 */
  --color-light-text: #f5f5f5;
  --color-success: #219653;
  --color-danger: #d34053;
  --color-warning: #ffa70b;

  --font-size-title: 5.4rem;
  --font-size-title-mobile: 1.4rem;
  --font-size-subtitle: 1.7rem;
  --font-size-light-text: 1rem;
}

@utility outer-button {
  border: 1px solid var(--color-primary);
  padding: 0.8rem 1rem;
  font-size: 1rem;
  color: var(--color-primary);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
}

@utility inner-button {
  background-color: var(--color-primary);
  color: var(--color-light-text);
  padding: 0.8rem 1rem;
  font-size: 1rem;
  cursor: pointer;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
}

@utility input {
  border: 2px solid var(--color-primary);
  font-size: 1rem;
  width: 100%;
  margin-top: 0.25rem;
  display: block;
  padding: 0.3rem;
  border: 1px solid #d1d5db;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
