@use "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "primeicons/primeicons.css";
* {
  font-family: "Jura", sans-serif;
}
body {
  background: linear-gradient(to right, #111827, #1f2937);
}

@theme {
  --color-primary: #1447e6;
  --color-secondary: #2563eb; /* blue 600 */
  --color-light-text: #f5f5f5;
  --color-success: #219653;
  --color-danger: #d34053;
  --color-warning: #ffa70b;

  --font-size-title: 5.4rem;
  --font-size-title-mobile: 1.4rem;
  --font-size-subtitle: 1.7rem;
  --font-size-light-text: 1rem;
}

@utility outer-button {
  border: 1px solid white;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
}

@utility inner-button {
  background-color: var(--color-primary);
  color: white;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
}

.outer-button,
.inner-button {
  &:hover {
    background-color: #1449e6d4;
    transition: all ease-in-out 0.3s;
    color: white;
    box-shadow: 0 4px 6px rgba(60, 164, 250, 0.718),
      0 1px 3px rgba(0, 0, 0, 0.08);
  }
}

.outer-button {
  &:hover {
    background-color: var(--color-primary);
  }
}

@utility input {
  border: 2px solid var(--color-primary);
  font-size: 1rem;
  width: 100%;
  margin-top: 0.25rem;
  display: block;
  padding: 0.3rem;
  border: 1px solid #d1d5db;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
