<div class="card flex justify-center p-8 mt-[50px] ml-8">
  <p-accordion value="0" class="w-full">
    <p-accordion-panel value="0">
      <p-accordion-header>
        <ng-template #toggleicon let-active="active">
          @if (active) {
          <i class="pi pi-minus"></i>
          } @else {
          <i class="pi pi-plus"></i>
          }
        </ng-template>
        <span class="flex items-center gap-2 w-full">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            shape="circle"
          />
          <span class="font-bold whitespace-nowrap">Feasibility Study</span>
          <p-badge value="3" class="ml-auto mr-2" />
        </span>
      </p-accordion-header>
      <p-accordion-content>
        <p class="m-0">
          <markdown
            class="variable-binding"
            [data]="
              project.analysisResultModel.planning.feasibilityStudy.content
            "
          ></markdown>
        </p>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="1">
      <p-accordion-header>
        <ng-template #toggleicon let-active="active">
          @if (active) {
          <i class="pi pi-minus"></i>
          } @else {
          <i class="pi pi-plus"></i>
          }
        </ng-template>
        <span class="flex items-center gap-2 w-full">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
            shape="circle"
          />
          <span class="font-bold whitespace-nowrap">
            Requirements Gathering
          </span>
          <p-badge value="4" class="ml-auto mr-2" />
        </span>
      </p-accordion-header>
      <p-accordion-content>
        <markdown
          class="variable-binding"
          [data]="
            project.analysisResultModel.planning.requirementsGathering.content
          "
        ></markdown>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="2">
      <p-accordion-header>
        <ng-template #toggleicon let-active="active">
          @if (active) {
          <i class="pi pi-minus"></i>
          } @else {
          <i class="pi pi-plus"></i>
          }
        </ng-template>
        <span class="flex items-center gap-2 w-full">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
            shape="circle"
          />
          <span class="font-bold whitespace-nowrap">Risk analysis</span>
          <p-badge value="2" class="ml-auto mr-2" />
        </span>
      </p-accordion-header>
      <p-accordion-content>
        <markdown
          class="variable-binding"
          [data]="project.analysisResultModel.planning.riskanalysis.content"
        ></markdown>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="3">
      <p-accordion-header>
        <ng-template #toggleicon let-active="active">
          @if (active) {
          <i class="pi pi-minus"></i>
          } @else {
          <i class="pi pi-plus"></i>
          }
        </ng-template>
        <span class="flex items-center gap-2 w-full">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
            shape="circle"
          />
          <span class="font-bold whitespace-nowrap">Smart Objectives</span>
          <p-badge value="2" class="ml-auto mr-2" />
        </span>
      </p-accordion-header>
      <p-accordion-content>
        <markdown
          class="variable-binding"
          [data]="project.analysisResultModel.planning.smartObjectives.content"
        ></markdown>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="4">
      <p-accordion-header>
        <ng-template #toggleicon let-active="active">
          @if (active) {
          <i class="pi pi-minus"></i>
          } @else {
          <i class="pi pi-plus"></i>
          }
        </ng-template>
        <span class="flex items-center gap-2 w-full">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
            shape="circle"
          />
          <span class="font-bold whitespace-nowrap">Stakeholders Meeting</span>
          <p-badge value="2" class="ml-auto mr-2" />
        </span>
      </p-accordion-header>
      <p-accordion-content>
        <markdown
          class="variable-binding"
          [data]="
            project.analysisResultModel.planning.stakeholdersMeeting.content
          "
        ></markdown>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="5">
      <p-accordion-header>
        <ng-template #toggleicon let-active="active">
          @if (active) {
          <i class="pi pi-minus"></i>
          } @else {
          <i class="pi pi-plus"></i>
          }
        </ng-template>
        <span class="flex items-center gap-2 w-full">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
            shape="circle"
          />
          <span class="font-bold whitespace-nowrap">UseCase Modeling</span>
          <p-badge value="2" class="ml-auto mr-2" />
        </span>
      </p-accordion-header>
      <p-accordion-content>
        <markdown
          class="variable-binding"
          [data]="project.analysisResultModel.planning.useCaseModeling.content"
        ></markdown>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
